h1
{   
    color: black;
    margin-left:30%;
    margin-right: 30%;
}

h2
{
    color: rgb(250, 162, 11);
    
    
}

#pippo
{
    height: 3px;
    border-width: 0;
    color:rgb(250, 162, 11);
    background-color:rgb(250, 162, 11);
}
hr
{
    height: 1px;
    border-width: 0;
    color:rgb(250, 162, 11);
    background-color:rgb(250, 162, 11);
}
#header
{
    background-color: rgba(161, 156, 156, 0.945);
    margin-left: 100px;
    margin-right: 100px;
   margin-bottom: 0px;
}

img
{
    width:200px;
    height:200px; 
    margin-left:40%;
    margin-right: 35%;
}

#body
{
    margin-left: 100px;
    margin-right: 100px;
}

footer
{
    margin-left: 600px;
    margin-right: 400px;
}